.env
.codex/
node_modules/
__pycache__/
*.py[cod]
.venv/
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.zip
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
tfplan
tfplan.txt
*.tfplan
**/terraform.tfvars
